[Desktop Entry]
Version=1.0
Encoding=UTF-8

Name=Tests Database
Name[de]=Fragen Bank
Name[pt]=Banco de Questões

GenericName=Tests Database
GenericName[de]=Fragen Bank
GenericName[pt]=Banco de Questões

Comment=Manages questions and generates tests
Comment[de]=Verwalten Fragen und erzeugen Prüfungen
Comment[pt]=Gerencia questões e gera provas

Terminal=false
Type=Application
Categories=Utility;
MimeType=application/x-qdb
StartupNotify=true
StartupWMClass=TestsDatabase

