<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>Tests Database</string>
	<key>CFBundleDisplayName</key>
	<string>Tests Database</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Tests Database</string>
	<key>CFBundleIdentifier</key>
	<string>com.acristoffers.Banco_de_Questoes</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>QDB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>QDB</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Banco de Questoes</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>QDB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
